@import "styles/mixins";
@import "styles/mixins/media";

.coins {
    display: flex;
    align-items: center;
    padding: var(--spacing-s);
    background-color: var(--grey-50);

    @include phone-lg  {
        margin-top: auto;
        border: 1px solid var(--grey-100);
    }

    @include phone-m {
        border: 0;
        border-radius: 0;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--grey-100);
    background-color: var(--white);
    font-size: 24px;

    @include ltr {
        margin-right: 8px;
    }

    @include rtl {
        margin-left: 8px;
    }
}

.amount {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-600);
}

.top-up-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: lowercase;
}

.chevron-icon {
    fill: var(--grey-200);
    transform: rotate(-90deg);

    @include marginStart(auto);

    @include ltr {
        margin-right: var(--spacing-xs);
    }

    @include rtl {
        margin-left: var(--spacing-xs);
    }
}
