@import "styles/mixins/media";

.line {
    position: relative;
    width: 100%;
}

.inner {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: var(--grey-50);
    border: 2px solid var(--grey-100);
    border-radius: 4px;
}

.bg {
    width: 30%;
    height: 4px;
    position: relative;
    background-color: var(--primary);
    border-radius: var(--line-border-radius);
    transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;

    @include phone-lg  {
        height: 6px;
    }
}

.text {
    display: flex;
    align-items: center;

    @include phone-lg  {
        margin-bottom: 4px;
    }
}
