@import "styles/mixins/media";

.avatar {
    display: block;
    margin: 0 auto;
    position: relative;

    @include phone-lg {
        flex: 1 1 auto;
        width: 304px;
    }

    @include phone-m {
        width: 256px;
    }

    :global(.avatar) {
        width: 232px;
        height: 232px;

        @include phone-lg {
            width: 100%;
            height: 304px;
        }

        @include phone-m {
            margin: auto;
            height: 232px;
        }
    }
}

.name {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-s);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(33, 44, 54, .4) 100%);
    color: var(--white);
    line-height: 27px;

    :global(.text) {
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    }
}

.reputation-and-coins {
    @include phone-lg {
        display: flex;
        width: 100%;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
    }
}
