@import "styles/mixins";

.message-row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 4px var(--spacing-m);

    @include phone-lg {
        padding-left: var(--spacing-s);
        padding-right: var(--spacing-s);
    }
}

.message-row-outgoing {
    flex-direction: row-reverse;
}

.message-row-clickable {
    cursor: pointer;
}

.message-row-selected {
    background-color: rgba(0, 133, 222, .2);
}

.message {
    position: relative;
    width: fit-content;
    max-width: 378px;
    overflow: hidden;
    padding: 12px var(--spacing-s);
    border-radius: 8px;
    border-bottom: 1px solid #d9dde0;
}

.message-outgoing {
    background-color: var(--chat-color);
}

.message-incoming {
    background-color: var(--white);
}

.message-highlighted {
    background-color: #fff;
    border: 1px solid #4eab47;
}

.message-info {
    display: flex;
    align-items: center;
    margin-bottom: -8px;
    float: right;
}

.message-info-icon {
    font-size: 15px;
    fill: var(--grey-300);

    @include ltr {
        margin-right: 5px;
    }

    @include rtl {
        margin-left: 5px;
    }
}

.message-time {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--grey-500);
}

.message-tail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16px;
    height: 12px;
}

.message-menu-toggle {
    align-self: center;
    padding: 10px !important;
    fill: var(--grey-300);
}

.message-text {
    white-space: pre-wrap;

    @include phone-lg {
        font-size: 14px;
    }
}

.message-text-hidden {
    color: var(--grey-400);
}

.message-status-icon-seen {
    fill: #4eab47;
}

.message-status-icon-no-sign {
    fill: #f03636;
}

.replied-message {
    margin-bottom: 8px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        border-radius: 1px;
        transition: all .25s ease;
    }
}

.replied-message-incoming {
    background-color: var(--grey-50);

    .replied-message::before {
        background-color: var(--grey-100);
    }
}

.replied-message-outgoing {
    background-color: #c1e29f;

    .replied-message::before {
        background-color: var(--primary);
    }
}

.replied-message-text {
    max-width: 348px;
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
