@import "styles/mixins/media";

.users-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 120px);
    gap: 16px;

    @include tablets {
        grid-template-columns: 1fr;
    }

    & :global(.user-card) {
        &:hover {
            transform: none;
        }
    }

    & :global(.user-card__additional-info) {
        display: none;
    }

    & :global(.badge) {
        display: none;
    }
}
