@import "styles/mixins";
@import "styles/mixins/media";

.avatar {
    width: 75px;
    height: 75px;
}

.reputation-and-coins {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & + & {
        @include marginStart(32px);
    }
}

.title {
    margin-top: 4px;
    color: var(--grey-600);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.hint {
    color: var(--primary);
    font-size: 12px;
    line-height: 18px;
}

.coins-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--grey-100);
    background-color: #fff;
}
