@font-face {
    font-family: Montserrat;
    src:
        url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
        url(../fonts/Montserrat-ExtraBold.woff) format("woff"),
        url(../fonts/Montserrat-ExtraBold.otf) format("otf")
    ;
    font-weight: 800;
}

@font-face {
    font-family: Montserrat;
    src:
        url(../fonts/Montserrat-Bold.woff2) format("woff2"),
        url(../fonts/Montserrat-Bold.woff) format("woff"),
        url(../fonts/Montserrat-Bold.otf) format("otf")
    ;
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src:
        url(../fonts/Montserrat-SemiBold.woff2) format("woff2"),
        url(../fonts/Montserrat-SemiBold.woff) format("woff"),
        url(../fonts/Montserrat-SemiBold.otf) format("otf"),
        url(../fonts/Montserrat-SemiBold.ttf) format("truetype")
    ;
    font-weight: 600;
}

@font-face {
    font-family: Roboto;
    src:
        url(../fonts/Roboto-Light.woff2) format("woff2"),
        url(../fonts/Roboto-Light.woff) format("woff"),
        url(../fonts/Roboto-Light.ttf) format("truetype")
    ;
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src:
        url(../fonts/Roboto-Regular.woff2) format("woff2"),
        url(../fonts/Roboto-Regular.woff) format("woff"),
        url(../fonts/Roboto-Regular.ttf) format("truetype")
    ;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src:
        url(../fonts/Roboto-Medium.woff2) format("woff2"),
        url(../fonts/Roboto-Medium.woff) format("woff"),
        url(../fonts/Roboto-Medium.ttf) format("truetype")
    ;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src:
        url(../fonts/Roboto-Bold.woff2) format("woff2"),
        url(../fonts/Roboto-Bold.woff) format("woff"),
        url(../fonts/Roboto-Bold.ttf) format("truetype")
    ;
    font-weight: 700;
}

