:root {
    --white: #fff;
    --black: #080d1c;

    --grey-50: #f7fbff;
    --grey-100: #e7eff5;
    --grey-200: #d0deeb;
    --grey-300: #a2b3c4;
    --grey-400: #6b7989;
    --grey-500: #565c68;
    --grey-600: #343a46;
    --grey-700: #1f242e;
    --grey-800: #0d1322;

    --red-50: #feecec;
    --red: #ff3a69;
    --green: #4eab47;
    --blue: #0085de;
    --orange: #ff862f;
    --yellow-light: #fef7de;
    --yellow-dark: #be920f;

    --light-blue: #f7fbff;

    --success-color: #21d184;
    --error-color: #f03636;
    --link-color: #3870ff;

    --chat-color: #d5f3b7;

    --primary: var(--green);
    --secondary: var(--blue);

    --link-secondary: #3870ff;
    --link-primary: #4eab47;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-xxl: 48px;

    --font-fallback: -apple-system, system-ui, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
    --font-family-base: Roboto, var(--font-fallback);
    --font-family-heading: Montserrat, var(--font-fallback);

    --border-radius-s: 4px;
    --border-radius-base: 8px;
    --border-radius-lg: 12px;

    --height-base: 48px;

    --presence-status-online: var(--green);
    --presence-status-idle: var(--orange);
    --presence-status-offline: var(--grey-200);
}
