@import "~react-toastify/scss/main.scss";

@import "normalize";
@import "variables";
@import "mixins";
@import "utilities";
@import "fonts";
@import "common";
@import "components/index";
@import "pages/index";

*, html, body {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

figure {
    margin: 0;
}
